* {
    margin: 0px;
}

body {
    background-image: url(/back_image.jpg);
}

header {
    border-bottom: 2px solid black;
    padding: 2rem;
    background-color: rgb(223, 217, 217);

}

.title {
    text-align: center;
    margin-top: 1rem;
}

.page {
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    padding: 3rem;
}

.text {
    text-align: center;
    margin-top: 1rem;
}

.text-art {
    text-align: justify;
    line-height: 1.2;
    margin: 1rem;
}

.container {
    text-align: justify;
    margin: 1rem;
}

.foot {
    border-top: 2px solid black;
    background-color: rgb(223, 217, 217);
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link {
    display: flex;
    justify-content: center;
}